//@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic&v1&subset=latin,latin-ext");
//@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
@import "icomoon.scss";
@import "../oneday-comment-list.scss";
$text-color: #3e3e3e;
$text-size: 12px;
$border-radius:0;

$total-score-text-size:16px;
$total-score-text-color:#0a263c;

$total-info-button-border-color:#92bddb;
$total-info-button-font-size:12px;
$total-info-button-color:#92bddb;
$total-info-button-color-hover:#1c6293;
$total-info-button-width:200px;
$total-info-button-height:40px;

$oneday-list-tabs-active-bar-color:#2f97df;
$oneday-list-tabs-header-font-size:16px;
$oneday-list-tabs-header-font-color:$text-color;

$oneday-list-tabs-select-width:180px;
$oneday-list-tabs-select-height:30px;
$oneday-list-tabs-select-border-color:#ddd;

$review-list-avatar-bgcolor:#49b0f8;
$review-list-avatar-icon-bgcolor:#04bd38;
$review-list-share-box:$review-list-avatar-bgcolor;
$review-list-share-box-selected:#2f97df;
$review-list-review-font-size:13px;
$review-list-nickname-font-size:16px;
$review-list-summary-font-size:14px;


$oneday-review-form-rate-lineheight:30px;
$oneday-review-form-input-color:#3e3e3e;
$oneday-review-form-input-size:$text-size;
$oneday-review-form-input-border-color:#ccc;
$oneday-review-form-required-color:#eb6161;
$oneday-review-form-tip-size:10px;
$oneday-review-form-tip-color:#3e3e3e;


$oneday-review-form-submitbutton-bgcolor:#ffc24c;
$oneday-review-form-submitbutton-bgcolor-hover:#ffa800;
$oneday-review-form-submitbutton-border-width:0;
$oneday-review-form-submitbutton-font-size:12px;
$oneday-review-form-submitbutton-color:#fff;
$oneday-review-form-submitbutton-width:150px;
$oneday-review-form-submitbutton-height:36px;

$oneday-pagination-bgcolor:$review-list-avatar-bgcolor;

$nickname-color:#0a263c;
$review-title-color:#0a263c;
$form-upimage-color:#92bddb;

@import "brands.scss";

@media all and (max-width: 400px) {
  .items{
    color: #777;
  }
  .total-info .el-button{
    color: $total-info-button-color-hover;
    border-color: $total-info-button-color-hover;
  }
}